In [1]:
import pandas as pd
import numpy as np

In [2]:
comments_df = pd.read_csv('./democrats_comments_trimmed.csv')
posts_df = pd.read_csv('./democrats_trimmed.csv')

In [3]:
comments_df.head()

     link_id                                               body
0  t3_izsbo7                                        TrumpWorld!
1  t3_iwmrof  It's just trash being trash. Block, report, mo...
2  t3_iwmrof  Nah just some fuck head trying to get people t...
3  t3_iwmrof                            Got some typos in there
4  t3_ikqzxi  Finally... A terrorist trumpfuck going behind ...

In [10]:
comments_df['link_id'].str[3:]

0     izsbo7
1     iwmrof
2     iwmrof
3     iwmrof
4     ikqzxi
       ...
82    5so3qh
83    5so3qh
84    5so3qh
85    5so3qh
86    5so3qh
Name: link_id, Length: 87, dtype: object

In [6]:
posts_df.head()

  selftext                                              title      id
0      NaN  Sawyer Hackett on Twitter--Trump supporters se...  j8o4ud
1      NaN              Justice for Breonna NOW! #BLM #RIPRBG  j2s4d3
2      NaN  Just Got This Mask To Show My Support For BLM!...  j25o6q
3      NaN  She wore a BLM mask to work at Whataburger. Af...  izsbo7
4      NaN                                                BLM  iwmrof

In [11]:
comments_df['post_id'] = comments_df['link_id'].str[3:]

In [14]:
# comments_df.to_csv('./democrats_comments_trimmed.csv')